@import "src/styles/common/variables";
@import "src/styles/common/functions";
@import "src/styles/common/mixin";

@layer component {
  .app {
    &__content {
      padding: 105px 0;
      min-height: 100vh;
    }

    &__info-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 40px;
      width: 100%;

      @include breakpoint-down(tablet) {
        flex-direction: column;
      }
    }
  }
}